/* CSS styles for the quiz application */

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global Reset and Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: #09001d;
  overflow: hidden;
}

/* Header Styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: right;
  z-index: 100;
}

.header .logo {
  width: 100px;
  filter: drop-shadow(0 0 5px orange);
}

.header .navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.header .navbar a:hover,
.header .navbar a.active {
  color: orange;
}

/* Main Section Styling */
.main {
  min-height: 100vh;
  background: url("images/quizbg.jpg") no-repeat;
  background-size: cover;
  background-position: top left;
  pointer-events: auto;
  transition: 0.3s ease;
}

.hue {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  80% {
    filter: hue-rotate(40deg);
  }
  50% {
    background-position: center;
  }
}

.quiz-section .active .main {
  /* Apply the blur effect when the quiz section is active */
  /* filter: blur(25px);
  pointer-events: none; */
}

/* Container Styling */
.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

/* Home Section Styling */
.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home .home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 5px orange);
}

.home .home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.home .home-content .start-btn {
  width: 190px;
  height: 55px;
  background: orange;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px orangered;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.home .home-content .start-btn:hover {
  background: #09001d;
  box-shadow: none;
}

/* Popup Styling */
.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: orangered;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: orangered;
  border: 2px solid orange;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: orangered;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: orangered;
  color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: orange;
  border-color: orange;
}

/* Quiz Section Styling */
.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid orange;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s ease;
  transition-delay: 0s;
}

.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(
    45deg,
    transparent,
    orange,
    transparent,
    orangered,
    transparent,
    yellow
  );
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid orange;
  margin-bottom: 30px;
}

.quiz-box .quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-box .quiz-header .header-score {
  background: orangered;
  border-radius: 3px;
  padding: 7px;
}

.quiz-box .question-text {
  font-size: 24px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.option-list .option.correct {
  background: #00a63d;
  color: #fff;
  border-color: #00a63d;
}

.option-list .option.incorrect {
  background: red;
  color: #fff;
  border-color: red;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid yellow;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-box .quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-box .quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-box .quiz-footer .next-btn.active {
  pointer-events: auto;
  background: orangered;
  border-color: orange;
  color: #fff;
}

.quiz-box .quiz-footer .next-btn.active:hover {
  background: orangered;
  border-color: orange;
}

/* Result Box Styling */
.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 2px solid orange;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 52px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-info {
  font-size: 16px;
}

.info {
  font-size: 10px;
}

.percentage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #09001d;
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 47px;
  background: orangered;
  border: 2px solid orange;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background: orangered;
  border-color: orange;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: orange;
}

.buttons button:nth-child(2):hover {
  background: orange;
  color: #fff;
}

/* Style for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  border-color: orangered;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown content when hovering or focusing on the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Media Queries for Different Screen Sizes */

/* Screen size 320px and below */
@media only screen and (max-width: 320px) {
  /* Add your CSS rules here for this screen size */
  .header .navbar a {
    font-size: 16px;
    margin-left: 5px;
  }

  .home .home-content h1 {
    font-size: 16px;
  }

  .home .home-content p {
    font-size: 12px;
  }

  .home .home-content .start-btn {
    width: 160px;
    height: 45px;
    font-size: 16px;
  }
  .quiz-box .quiz-header span {
    font-size: 16px;
    font-weight: 500;
  }

  .quiz-box .quiz-header .header-score {
    background: orangered;
    border-radius: 3px;
    padding: 7px;
  }

  .quiz-section .quiz-box {
    width: 90%;
  }

  .quiz-box h1 {
    font-size: 28px;
  }

  .quiz-box .question-text {
    font-size: 20px;
  }

  .option-list .option {
    font-size: 14px;
  }

  .quiz-box .quiz-footer .question-total {
    font-size: 14px;
  }

  .quiz-box .quiz-footer .next-btn {
    width: 90px;
    height: 35px;
    font-size: 14px;
  }

  .result-box h2 {
    font-size: 38px;
  }

  .percentage-container .circular-progress {
    width: 200px;
    height: 200px;
  }

  .percentage-container .circular-progress::before {
    width: 170px;
    height: 170px;
  }

  .percentage-container .progress-value {
    font-size: 32px;
  }

  .percentage-container .score-text {
    font-size: 20px;
  }

  .buttons button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin: 0 10px 10px;
  }
  .popup-info {
    width: 90%; /* Adjust the width of the popup */
    font-size: 12px; /* Adjust the font size of the content */
    padding: 8px; /* Adjust the padding to make the content more compact */
  }

  .popup-info h2 {
    font-size: 16px; /* Adjust the font size of the popup title */
  }

  .popup-info .info {
    margin-bottom: 5px; /* Adjust the spacing between info lines */
  }

  .popup-info .btn-group {
    flex-direction: column; /* Arrange buttons vertically for better fit */
    align-items: center; /* Center the buttons */
  }

  .popup-info .info-btn {
    width: 140px; /* Adjust the width of the buttons */
    height: 40px; /* Adjust the height of the buttons */
    font-size: 16px; /* Adjust the font size of the buttons */
    margin: 5px 0; /* Adjust the spacing between buttons */
  }
}

/* Screen size 321px to 480px */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* Add your CSS rules here for this screen size */
  .header .navbar a {
    font-size: 12px;
    margin-left: 5px;
  }
  .popup-info {
    width: 100%; /* Adjust the width of the popup */
    font-size: 12px; /* Adjust the font size of the content */
    padding: 8px; /* Adjust the padding to make the content more compact */
  }

  .popup-info h2 {
    font-size: 18px; /* Adjust the font size of the popup title */
  }

  .popup-info .info {
    margin-bottom: 5px; /* Adjust the spacing between info lines */
  }

  .popup-info .btn-group {
    flex-direction: column; /* Arrange buttons vertically for better fit */
    align-items: center; /* Center the buttons */
  }

  .popup-info .info-btn {
    width: 90px; /* Adjust the width of the buttons */
    height: 20px; /* Adjust the height of the buttons */
    font-size: 12px; /* Adjust the font size of the buttons */
    margin: 5px 0; /* Adjust the spacing between buttons */
  }

  .home .home-content h1 {
    font-size: 12px;
  }

  .home .home-content p {
    font-size: 11px;
  }

  .home .home-content .start-btn {
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
  .quiz-box .quiz-header span {
    font-size: 12px;
    font-weight: 500;
  }

  .quiz-box .quiz-header .header-score {
    background: orangered;
    border-radius: 3px;
    padding: 4px;
  }
  .timer {
    font-size: 12px;
  }

  .quiz-section .quiz-box {
    width: 100%;
  }

  .quiz-box h1 {
    font-size: 12px;
  }

  .quiz-box .question-text {
    font-size: 10px;
  }

  .option-list .option {
    font-size: 9px;
  }

  .quiz-box .quiz-footer .question-total {
    font-size: 10px;
  }

  .quiz-box .quiz-footer .next-btn {
    width: 50px;
    height: 40px;
    font-size: 10px;
  }

  .result-box h2 {
    font-size: 16px;
  }

  .percentage-container .circular-progress {
    width: 180px;
    height: 180px;
  }

  .percentage-container .circular-progress::before {
    width: 150px;
    height: 150px;
  }

  .percentage-container .progress-value {
    font-size: 16px;
  }

  .percentage-container .score-text {
    font-size: 16px;
  }

  .buttons button {
    width: 90px;
    height: 30;
    font-size: 10px;
    margin: 0 8px 8px;
  }
}

/* Screen size 481px to 760px */
@media only screen and (min-width: 481px) and (max-width: 760px) {
  /* Add your CSS rules here for this screen size */
  .header .navbar a {
    font-size: 18px;
    margin-left: 30px;
  }

  .home .home-content h1 {
    font-size: 57px;
  }

  .home .home-content p {
    font-size: 18px;
  }

  .home .home-content .start-btn {
    width: 190px;
    height: 55px;
    font-size: 20px;
  }
  .popup-info {
    width: 100%; /* Adjust the width of the popup */
    font-size: 12px; /* Adjust the font size of the content */
    padding: 8px; /* Adjust the padding to make the content more compact */
  }

  .popup-info h2 {
    font-size: 18px; /* Adjust the font size of the popup title */
  }

  .popup-info .info {
    margin-bottom: 5px; /* Adjust the spacing between info lines */
  }

  .popup-info .btn-group {
    flex-direction: column; /* Arrange buttons vertically for better fit */
    align-items: center; /* Center the buttons */
  }

  .popup-info .info-btn {
    width: 90px; /* Adjust the width of the buttons */
    height: 20px; /* Adjust the height of the buttons */
    font-size: 12px; /* Adjust the font size of the buttons */
    margin: 5px 0; /* Adjust the spacing between buttons */
  }

  .quiz-section .quiz-box {
    width: 100%;
  }

  .quiz-box h1 {
    font-size: 12px;
  }

  .quiz-box .question-text {
    font-size: 12px;
  }

  .option-list .option {
    font-size: 10px;
  }

  .quiz-box .quiz-footer .question-total {
    font-size: 10px;
  }

  .quiz-box .quiz-footer .next-btn {
    width: 90px;
    height: 35;
    font-size: 10px;
  }

  .result-box h2 {
    font-size: 46px;
  }

  .percentage-container .circular-progress {
    width: 240px;
    height: 240px;
  }

  .percentage-container .circular-progress::before {
    width: 210px;
    height: 210px;
  }

  .percentage-container .progress-value {
    font-size: 40px;
  }

  .percentage-container .score-text {
    font-size: 24px;
  }

  .buttons button {
    width: 120px;
    height: 45px;
    font-size: 18px;
    margin: 0 15px 15px;
  }
}

/* Screen size 761px to 1024px */
@media only screen and (min-width: 761px) and (max-width: 1024px) {
  /* Add your CSS rules here for this screen size */
  .header .navbar a {
    font-size: 20px;
    margin-left: 35px;
  }

  .home .home-content h1 {
    font-size: 78px;
  }

  .home .home-content p {
    font-size: 22px;
  }

  .home .home-content .start-btn {
    width: 200px;
    height: 60px;
    font-size: 22px;
  }

  .quiz-section .quiz-box {
    width: 70%;
  }

  .quiz-box h1 {
    font-size: 42px;
  }

  .quiz-box .question-text {
    font-size: 26px;
  }

  .option-list .option {
    font-size: 20px;
  }

  .quiz-box .quiz-footer .question-total {
    font-size: 20px;
  }

  .quiz-box .quiz-footer .next-btn {
    width: 120px;
    height: 50px;
    font-size: 20px;
  }

  .result-box h2 {
    font-size: 50px;
  }

  .percentage-container .circular-progress {
    width: 260px;
    height: 260px;
  }

  .percentage-container .circular-progress::before {
    width: 230px;
    height: 230px;
  }

  .percentage-container .progress-value {
    font-size: 44px;
  }

  .percentage-container .score-text {
    font-size: 26px;
  }

  .buttons button {
    width: 130px;
    height: 50px;
    font-size: 20px;
    margin: 0 20px 20px;
  }
}
